version: '3.8'

services:
  flask:
    image: flask:web_project
    command: python /web_app/app.py
    build: .
    volumes:
      - ./web_app:/web_app
    environment:
       TZ: America/Fortaleza
    restart: always
    ports:
      - "4006:80"
