{% extends "base.html" %} {% block style %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/adm_screen.css') }}"
/>

{% endblock %} {% block content %}
<div id="elements">
  <header>
    <img id="logo" src="../static/img/logoUFCA.png">

    <div id="options">
        <a href="{{url_for('chaves')}}" class="btn" id="btn1">LISTA DE CHAVES</a>
        
        <form class="logout-form" action="{{ url_for('logout') }}" method="post">
            {{form.csrf_token}}
            <button type="submit" class="btn" id="btn1">LOGOUT</button>
        </form>
    </div>
  </header>

  <form
    action="{{ url_for('admin') }}"
    role="form"
    class="form"
    method="POST"
    id="block"
  >
  {{form.csrf_token}} 
  {% with messages = get_flashed_messages() %}
  {% if messages %} 
  {% for message in messages %}
    <div class="alert" role="alert">{{message}}</div>
  {% endfor %}
  {% endif %} 
  {% endwith %}
    <div class="text-box">
      <label>Código da Chave</label>
      <input class="text-input" type="text" name="codigo" id="codigo" />
    </div>
    <div class="text-box">
      <label>Nome da Chave</label>
      <input class="text-input" type="text" name="nome" id="nome" />
    </div>

    <div id="btns">
      <button type="submit" value="submit" class="btn">CADASTRAR</button>

      <button type="submit" name="disponivel" value="disponivel" class="btn">DISPONIVEL</button>
      
      <button type="submit" name="remover" value="remover" class="btn">REMOVER</button>
    </div>
  </form>
</div>

{% endblock %}
