{% extends "base.html" %}

{% block style %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style/adm_screen.css') }}">

{% endblock %}

{% block content %}

    <img id="logo" src="../static/img/logoUFCA.png">

    <div id="block">
        <div class="text-box">
            <p>Código da Chave</p>
            <input type="text" name="" id="">
        </div>
        <div class="text-box">
            <p>Nome da Chave</p>
            <input type="text" name="" id="">
        </div>

        <button class="btn">CADASTRAR</button>

        <button class="btn">REMOVER</button>

        <button class="btn">LOGOUT</button>
    </div>
    
{% endblock %}