{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/key_list.css') }}">
{% endblock %}

{% block content %}

    <img id="logo" src="../static/img/logoUFCA.png">

    <div id="search">
        <input type="search" name="" id="">
        <img id="logo" src="../static/img/lupa.png">
    </div>
    
    <select name="" id=""></select>

    <button class="btn">LOGOUT</button>

    <button class="btn">RESERVAR</button>

    <select name="" id=""></select>

    <div id="block">        

    </div>

{% endblock %}