{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/loan_screen.css') }}">
{% endblock %}

{% block content %}
    <div id="elements">
        <img id="logo" src="../static/img/logo.png">

        <div id="block">
            <h2>No momento você está em posse de uma chave!</h2>

            <div class="text-box">
                <p>Código da Chave</p>
                <div class="text"></div>
            </div>
            <div class="text-box">
                <p>Nome da Chave</p>
                <div class="text"></div>
            </div>
            <div class="text-box">
                <p>Horário Limite</p>
                <div class="text"></div>
            </div>
            <div class="text-box">
                <p>Status</p>
                <div class="text"></div>
            </div>

            <button class="btn">LOGOUT</button>

        </div>
    </div>

{% endblock %}