{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/manager_keys.css') }}">
{% endblock %}

{% block content %}
    <div id="elements">
        <header>
            <img id="logo" src="../static/img/logoUFCA.png">

            <div id="options">
                <a href="{{url_for('admin')}}" class="btn" id="btn1">ADICIONAR / REMOVER</a>
                
                <form class="logout-form" action="{{ url_for('logout') }}" method="post">
                    {{form.csrf_token}}
                    <button type="submit" class="btn" id="btn1">LOGOUT</button>
                </form>
            </div>
        </header>
        
        <div id="block">
            <table class="table">
              <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Status</th>
              </tr>
              {% for chave in chaves %}
                  <tr >
                      <td>{{chave.codigo}}</td>
                      <td class="nome">{{chave.nome}}</td>
                      {% if chave.disponivel == True %}
                        <td>Disponível</td>
                      {% endif %}
                      {% if chave.disponivel == False %}
                        <td>Indisponível</td>
                      {% endif %}
                  </tr>
              {% endfor %}
              
          </div>
    </div>
{% endblock %}