{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/manager_keys.css') }}">
{% endblock %}

{% block content %}
    <div id="elements">
        <header>
            <img id="logo" src="../static/img/logoUFCA.png">

            <div id="search">
                <input class="text-input" type="search" name="">
                <img id="lupa" src="../static/img/lupa.png">
            </div>
        </header>
        
        <div id="options">
            <select name="" id=""></select>

            <button class="btn" id="btn1">LOGOUT</button>

            <button class="btn" id="btn2">MARCAR COMO ENTREGUE</button>
        </div>
        
        <div id="block">        

        </div>
    </div>
{% endblock %}