{% extends "base.html" %}
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/register_user.css') }}"
/>
{% endblock %}
{% block content %}
<div id="elements">
  <img id="logo" src="../static/img/logoUFCA.png" />

  <form action="{{ url_for('registro') }}" role="form" class="form" method="POST" id="block">
    {{form.csrf_token}}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      
      {% for message in messages %}
        <div class="alert" role="alert">
          {{message}}
        </div>
      {% endfor %}
      
    {% endif %}
  {% endwith %}
    <div class="control text-box">
      <label for="nome">Nome Completo:</label>
      <input class="text-input" type="text" name="nome" id="nome" />
    </div>
    <div class="control text-box">
      <label for="email">Email:</label>
      <input class="text-input" type="email" name="email" id="email" />
    </div>
    <div class="control text-box">
      <label for="senha">Senha:</label>
      <input class="text-input" type="password" name="senha" id="senha" />
    </div>

    <div class="control" id="btns">
      <a href="{{url_for('root')}}" class="btn">TELA INICIAL</a>
      <button type="submit" value="submit" class="btn">CADASTRAR</button>
    </div>
  </form>
</div>

{% endblock %}
