@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&display=swap');

body{
    background-color: #1D1D1B;
    font-family: 'Alegreya Sans', sans-serif;
}

#elements{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#block{
    width: 60%;
    height: 500px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border-radius: 20px;
}

header{
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 70%;
}

#lupa{
    height: 26px;
    margin-right: 5px;
}

#search{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 7px;
    margin-left: 15px;
    margin-bottom: 7px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
}

#options{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 60%;
    margin-bottom: 30px;
}

.text-input{
    background-color: rgba(243, 243, 243, 0);
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    height: 26px;
    border: none;
    flex-grow: 1;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.btn{
    color: #1D1D1B;
    border-style: none;
    background: #C4C4C4;
    border-radius: 15px;
    flex-grow: 1;
    height: 90%;
    font-weight: bold;
}

#btn1{
    margin-left: 15px;
    margin-right: 15px;
}

#btn2{
    margin-right: 15px;
}

select{
    height: 90%;
    flex-grow: 2;
    border-radius: 10px;
}