#elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 20px;
}

header {
  width: 60%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

table {
  margin: 10px;
  vertical-align: middle;
  text-align: center;
  border-spacing: 0px 10px;
}

#logo {
  height: 70%;
}

#lupa {
  height: 26px;
  margin-right: 5px;
}

#options {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.logout-form {
  height: 100%;
  display: grid;
  place-items: center;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.btn {
  color: #1d1d1b;
  border-style: none;
  background: #c4c4c4;
  border-radius: 15px;
  flex-grow: 1;
  height: 50%;
  font-weight: bold;
}
