@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&display=swap');

body{
    background-color: #1D1D1B;
    font-family: 'Alegreya Sans', sans-serif;
}

p{
    font-size: 14pt;
    font-weight: bold;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
}

#elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#logo{
    transform: scale(0.7);
}

#block{
    width: 700px;
    height: 582px;
    background: #FFFFFF;
    border-radius: 20px;
}

.text-box{
    position: relative;
    top: 40px;
    left: 50px;
    margin-bottom: 40px;
    width: 600px;
    border: 1.5px solid #1D1D1B;
    box-sizing: border-box;
    border-radius: 15px;
}

.text-input{
    padding: 0px;
    margin-left: 9px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    height: 30px;
    width: 580px;
    border: none;
}

#btns{
    position: relative;
    top: 40px;
    padding: 0px;
    margin: 0px;
    left: 140px;
}

.btn{
    width: 140px;
    height: 50px;
    margin-left: 40px;
    color: #FFFFFF;
    border-style: none;
    background: #1D1D1B;
    border-radius: 26px;
}